body {
  color: white;
  background: black;
  text-align: center;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100vw;
  background: #02040f;
  border-bottom: 2px solid white;

  @media only screen and (min-width: 1200px) {
    .resume {
      margin-left: 2rem;
    }
  }
}

.home {
  .container-fluid {
    padding-top: 5vh;
    @media only screen and (min-width: 1200px) {
      padding-top: 40vh;
    }
  }
  video {
    position: absolute;
    right: -25%;
    height: 100vh;
    min-height: 100%;
    bottom: 0;
    z-index: -1000;
  }
  .row {
    left: 10%;
    top: 45%;
  }
}

.portfolio {
  .main {
    overflow-y: hidden;
    .row {
      .col-lg-6 {
        height: 40vh;
        border: 2px solid #6e5bef;
        box-shadow: 0 0 20px 0px #6e5bef;
        position: relative;
        h1 {
          top: 38%;
        }
      }
    }
  }

  .personal {
    margin-top: 3em;
    text-align: center;
    display: inline-block;
    color: black;
    h2{
      color: white;
    }

    .jumbotron {
      text-align: left;
    }
  }

  .professional, .personal {
    .col-container{
      background: rgb(255, 255, 255);
      border-radius: 40px;
      margin: 0;
      .btn-outline-primary{
        color:black;
      }
      li{
        margin: 0.5em 0;
      }
    }
    .list-group {
      .list-group-item {
        border: none;
        background: transparent;
        margin: 1em 0;
      }
      button {
        color: $grey;
        text-align: left;
        &:active,
        &:focus {
          outline: none !important;
          box-shadow: none;
        }
      }
    }

    .col-9 {
      h1 {
        color: black;
      }
    }
    .digital-circular {
      color: black;
      background: none;
      .col-6.pic {
        overflow: scroll;
        max-height: 300px;
        overflow-x: hidden;
      }
    }
  }
}
