body {
  color: white;
  background: black;
  text-align: center;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "ALBA", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4rem;
  position: relative;
}

h2 {
  font-family: "Roboto Mono", monospace;
}
h3 {
  color: black;
  font-size: 2rem;
  position: relative;
}

@media screen and (max-width: 825px) {
  h1 {
    font-size: 22pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 15pt;
  }
  body {
    font-size: 10pt;
  }
}

.container-fluid {
  max-width: 1440px;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100vw;
  background: #02040f;
  border-bottom: 2px solid white;

  @media only screen and (min-width: 1200px) {
    .resume {
      margin-left: 2rem;
    }
  }
}

.home {
  .container-fluid {
    padding-top: 5vh;
    @media only screen and (min-width: 1200px) {
      padding-top: 40vh;
    }
  }
  video {
    position: absolute;
    right: -25%;
    height: 100vh;
    min-height: 100%;
    bottom: 0;
    z-index: -1000;
  }
  .row {
    left: 10%;
    top: 45%;
  }
}

.portfolio {
  .row{
    height:90vh;
    .col-lg-6{
      height:40vh;
      border: 2px solid #6e5bef;
      box-shadow: 0 0 20px 0px #6e5bef;
      position: relative;
      h1{
        top:38%;
      }
    }
  }
}
