.btn-primary,
.btn-outline-primary {
  border: none;
  background-image: -webkit-linear-gradient(332deg, #1d07b2, #4407b2);
  background-image: -o-linear-gradient(332deg, #1d07b2, #4407b2);
  background-image: linear-gradient(118deg, #1d07b2, #4407b2);
  &:active,
  &:focus {
    box-shadow: none;
  }
}

.btn-outline-primary {
  border: 2px solid #6e5bef;
  background-image: none;
  background-color: transparent;
  color: white;

  &:hover {
    border: 2px solid #6e5bef;
    background-image: -webkit-linear-gradient(332deg, #1d07b2, #4407b2);
    background-image: -o-linear-gradient(332deg, #1d07b2, #4407b2);
    background-image: linear-gradient(118deg, #1d07b2, #4407b2);
  }
}

.center-abs{
    position: absolute;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 1;
}



