@font-face {
  font-family: "ALBA";
  font-style: normal;
  font-weight: normal;
  src: local("ALBA"), url("../assets/ALBA.TTF") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap');

$color1: #1d07b2;