@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap");
@font-face {
  font-family: "ALBA";
  font-style: normal;
  font-weight: normal;
  src: local("ALBA"), url("../assets/ALBA.TTF") format("truetype");
}

body {
  color: white;
  background: black;
  text-align: center;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100vw;
  background: #02040f;
  border-bottom: 2px solid white;
}

@media only screen and (min-width: 1200px) {
  header .resume {
    margin-left: 2rem;
  }
}

.home .container-fluid {
  padding-top: 5vh;
}

@media only screen and (min-width: 1200px) {
  .home .container-fluid {
    padding-top: 40vh;
  }
}

.home video {
  position: absolute;
  right: -25%;
  height: 100vh;
  min-height: 100%;
  bottom: 0;
  z-index: -1000;
}

.home .row {
  left: 10%;
  top: 45%;
}

.portfolio .main {
  overflow-y: hidden;
}

.portfolio .main .row .col-lg-6 {
  height: 40vh;
  border: 2px solid #6e5bef;
  -webkit-box-shadow: 0 0 20px 0px #6e5bef;
          box-shadow: 0 0 20px 0px #6e5bef;
  position: relative;
}

.portfolio .main .row .col-lg-6 h1 {
  top: 38%;
}

.portfolio .personal {
  margin-top: 3em;
  text-align: center;
  display: inline-block;
  color: black;
}

.portfolio .personal h2 {
  color: white;
}

.portfolio .personal .jumbotron {
  text-align: left;
}

.portfolio .professional .col-container, .portfolio .personal .col-container {
  background: white;
  border-radius: 40px;
  margin: 0;
}

.portfolio .professional .col-container .btn-outline-primary, .portfolio .personal .col-container .btn-outline-primary {
  color: black;
}

.portfolio .professional .col-container li, .portfolio .personal .col-container li {
  margin: 0.5em 0;
}

.portfolio .professional .list-group .list-group-item, .portfolio .personal .list-group .list-group-item {
  border: none;
  background: transparent;
  margin: 1em 0;
}

.portfolio .professional .list-group button, .portfolio .personal .list-group button {
  color: #919191;
  text-align: left;
}

.portfolio .professional .list-group button:active, .portfolio .professional .list-group button:focus, .portfolio .personal .list-group button:active, .portfolio .personal .list-group button:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.portfolio .professional .col-9 h1, .portfolio .personal .col-9 h1 {
  color: black;
}

.portfolio .professional .digital-circular, .portfolio .personal .digital-circular {
  color: black;
  background: none;
}

.portfolio .professional .digital-circular .col-6.pic, .portfolio .personal .digital-circular .col-6.pic {
  overflow: scroll;
  max-height: 300px;
  overflow-x: hidden;
}

.container-fluid {
  max-width: 1230px;
}

.center-abs {
  position: absolute;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.full-height {
  height: 90vh;
}

.particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease, -webkit-transform 1.4s ease;
}

.btn-primary,
.btn-outline-primary {
  border: none;
  background-image: linear-gradient(118deg, #1d07b2, #4407b2);
  cursor: pointer;
}

.btn-primary:active, .btn-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-primary {
  border: 2px solid #6e5bef;
  background-image: none;
  background-color: transparent;
  color: white;
}

.btn-outline-primary:hover {
  color: white !important;
  border: 2px solid #6e5bef;
  background-image: linear-gradient(118deg, #1d07b2, #4407b2);
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #919191;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.underline:hover:after {
  width: 100%;
  left: 0;
  background: #1d07b2;
}

.underline.active {
  color: #1d07b2;
}

.underline.active:after {
  background: #1d07b2;
  width: 100%;
  opacity: 1;
  cursor: default;
}

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.delay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

h1 {
  font-family: "ALBA", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1230px) {
  h1 {
    font-size: 54px;
  }
}

h2 {
  font-family: "Roboto Mono", monospace;
}

h3 {
  color: black;
  font-size: 2rem;
  position: relative;
}

@media screen and (max-width: 825px) {
  h1 {
    font-size: 22pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 15pt;
  }
  body {
    font-size: 10pt;
  }
}
/*# sourceMappingURL=index.css.map */