.contact-card {
  background-color: transparent;
  border: 2px solid #6e5bef;
  box-shadow: 0 0 20px 0px #6e5bef;
  color: black;
  margin: auto;
  padding: 2rem 2rem;
  width: 50rem;
}
.icons {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .contact {
    width: auto;
  }
}

.spinner {
  margin: 0 auto;
}
