
.contact{
    background-color:rgb(135, 146, 163, 0.4);
    color: black;
    margin: 0 auto;
    padding: 2rem 2rem;
    width: 50rem;
}

@media screen and (max-width:800px){
  .contact{
      width: 20rem;
  }
}

