.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
i{
    font-size: 3rem;
    margin: 0 1rem;
}

@media screen and (max-width:800px){
    i{
        margin:0;
    }
  }