
@font-face {
  font-family: 'ALBA';
  font-style: normal;
  font-weight: normal;
  src: local('ALBA'), url('./assets/ALBA.TTF') format('truetype');
  }

.app {
  text-align: center;
}

body {
  color: white;
}



.fp-section {
  text-align: center;
}


/*
button:hover{
  -webkit-animation: shake 1s;
  animation: shake 1s;
}
*/

#fp-nav ul li a span, .fp-slidesNav ul li a span{ 
  background: #fff !important; 
} 

h1{
  font-family: 'ALBA', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4rem;
  position: relative;
}



