.app {
  text-align: center;
}

body {
  font-family: arial, helvetica;
  color: white;
}

.fp-section {
  text-align: center;
}


/*
button:hover{
  -webkit-animation: shake 1s;
  animation: shake 1s;
}
*/

#fp-nav ul li a span, .fp-slidesNav ul li a span{ 
  background: #fff !important; 
} 

h1{
  color: white;
}

